.contact-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../utils/images/contact-section-background-img.jpg);
    background-size: cover;
    background-position: center;
}