.App {
  text-align: center;
}

header {
  background-size: cover;
  background-position: center;
}

header h1 {
  font-size: 5rem;
}

img {
  border-style: solid;
  border-width: 5px;
}

@media only screen and (max-width: 768px) {
  header h1 {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 576px) {
  header h1 {
    font-size: 3rem;
  }
}
