@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body, h1, a, code {
  font-family: 'Montserrat', sans-serif;
}

h2, h3, .navbar-brand span {
  font-family: "Lora", serif;
}

p {
  font-family: 'Hind Madurai', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  overflow-x: hidden;
}